{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="/web_admin/admin_panel">Панель администратора</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="#">Просмотр всех пользователей</a>
</li>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Список пользователей</h1>

    <!-- Таблица пользователей -->
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Полное имя</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.full_name }}</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-primary">Список счетов с балансами</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}