{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block navbar %}
<!-- Переопределяем навбар -->
<li class="nav-item">
    <a class="nav-link" href="#">Главная</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/web_user/login">Авторизация</a>
</li>
{% endblock %}

{% block content %}
<!-- Основной контент страницы -->
<div class="jumbotron">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p class="lead">Для того чтобы продолжить взаимодействие с Payment System App, необходимо пройти авторизацию</p>
    <hr class="my-4">
    <p>Если вы являетесь администратором, пожалуйста, нажмите кнопку ниже.</p>
    <a class="btn btn-primary btn-lg" href="/web_admin/login" role="button">Я администратор</a>
</div>
{% endblock %}